<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mybatis_spring.usuario.repository.UserMapper">

    <select id="listarTodos" resultType="com.api.mybatis_spring.usuario.model.User">
        SELECT * FROM usuario.tb_usuario
    </select>

    <select id="listarPorId" resultType="com.api.mybatis_spring.usuario.model.User" parameterType="integer">
        SELECT * FROM usuario.tb_usuario WHERE id = #{id}
    </select>

    <select id="listarPorFuncao" statementType="CALLABLE" resultType="com.api.mybatis_spring.usuario.model.User">
        { call usuario.listar_usuarios() }
    </select>

    <select id="listarComParams" statementType="CALLABLE" resultType="com.api.mybatis_spring.usuario.model.User">
        {
            call usuario.listar_usuarios_por_status_e_nome(
                #{ativo, jdbcType=VARCHAR, mode=IN},
                #{nome,  jdbcType=VARCHAR, mode=IN}
            )
        }
    </select>
</mapper>